.flip {
	transform: scaleX(-1);
	filter: FlipH;
}

#cat {
	width: 100px;
}
#babyMoonkin {
	width : 300px;
}


#boomkin {
	/*width : 100px;*/
}
#corehound {
	width: 400px;
}

#murloc {
	width:165px;
}
#hordeBoomkin {
	width: 350px;
}


#horde {
	width: 500px;
}

